.canvasContainer{
        border: 4px double black; 
        top: 10%;
    left: 30%;
    width: 1000px;
    height: 800px;
        position: relative;
    overflow: auto;
}

.tableStyleClass{
    top: 10%;
    left: 10%;
    margin-right: -50%;
    position: relative;
}
.canvasStyleClass{
        position: absolute;
    background-color: transparent;
    
}

.buttonStyleClass{
                top: 20%;
        left: 50%; 
     position: relative;

}

/*img{
    width: 300px;
    height: 300px;
}*/

